@{
    
}

<form action="~/Account/ChangePassword" method="post">
    <input type="hidden" name="userName" value="@User.GetUserData()?.UserName"/>
    <div class="form-control">
        <label>Mật khẩu cũ</label>
        <input type="password" name="oldPassword" autofocus />
        @Html.ValidationMessage("Error", new { @style = "color: #f00" })
    </div>
    <div class="form-control">
        <label>Mật khẩu mới</label>
        <input type="password" name="newPassword"/>
        @Html.ValidationMessage("Error", new { @style = "color: #f00" })
    </div>
    <div class="form-control">
        <label>Xác nhận mật khẩu</label>
        <input type="password" name="confirmPassword"/>
        @Html.ValidationMessage("Error", new { @style = "color: #f00" })
    </div>
    <button type="submit">Lưu</button>
</form>