<style>
    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .dropdown-menu {
        margin-top: 0;
    }

    .profile-img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <a class="navbar-brand text-primary" href="#">SV21T1020581</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Home/Index">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Product/Index">Cửa hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Order/OrderStatus">Lịch sử</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tài khoản
                        </a>
                        <ul class="dropdown-menu shadow-sm" aria-labelledby="accountDropdown">
                            @if (User.GetUserData() == null)
                            {
                                <li><a class="dropdown-item" href="~/Account/Login">Đăng nhập</a></li>
                            }
                            else
                            {
                                <li class="text-center py-2">
                                    <img id="Photo" src="http://localhost:5028/images/customers/@(string.IsNullOrWhiteSpace(User.GetUserData()?.Photo) ? "no-image.jpg" : User.GetUserData()?.Photo)" class="profile-img rounded-circle shadow-sm" alt="Profile Image">
                                    <p class="mb-0 fw-bold">@User.GetUserData()?.DisplayName</p>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="~/Account/Edit/@User.GetUserData()?.UserId">Đổi thông tin cá nhân</a></li>
                                <li><a class="dropdown-item" href="~/Account/ChangePassword/@User.GetUserData()?.UserId">Đổi mật khẩu</a></li>
                                <li><a class="dropdown-item text-danger" href="~/Account/Logout">Đăng xuất</a></li>
                            }
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Order/ShoppingCart" aria-label="Shopping Cart">
                            <i class="bi bi-cart fs-4"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>